.footer {
  background: var(--secondaryColor);
  padding: 4rem;
  text-align: center;
  color: var(--mainWhite);
}
.links a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--mainWhite);
  margin: 0.5rem 1rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  font-weight: bold;
}
.links a:hover {
  color: var(--primaryColor);
}

.logos {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.logo {
  height: 150px;
  /* padding: 10px; */
}

.icons a {
  display: inline-block;
  margin: 1rem;
  font-size: 1.3rem;
  color: var(--mainWhite);
  transition: var(--mainTransition);
}
.icons a:hover {
  color: white;
}
.copyright {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  line-height: 2;
  color: white;
}
.contact p a {
  color: white !important;
  font-size: 18px;
}
