* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.center {
  width: 50%;
  margin: auto;
}

.radio {
  width: 90%;
  padding-top: 0px !important;
  display: inline-block;
  vertical-align: top;
}

label {
  padding: 12px 12px 12px 12px;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;

  margin-left: 20%;
}

.col-75 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="submit"] {
  width: 50%;
  margin-top: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .center {
    width: 100%;
  }
}

#head,
h2,
h3,
h4 {
  text-align: left;
}
div > #btn {
  display: flex !important;
  align-items: center !important;
}
p {
  margin: 0;
}
li {
  margin-left: 2.5rem;
}
