.container {
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.form {
  background-color: #007ba8dc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  padding: 2rem;
  margin-top: -12%;
  box-shadow: 8px 8px 3px 2px rgba(10, 67, 107, 0.171);
}
label {
  color: white;
}

.container {
  max-width: 1420px;
  margin: 0 10%;
  display: flex;
}

.form_top {
  display: flex;
  width: 100%;
}

.form_box {
  width: 100%;
  padding: 10% 3%;
  margin: 0 auto;
  max-width: 55rem;
}

.form_input {
  display: block;
  height: 2rem;
  /* max-width: 20rem !important; */
  width: 100% !important;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #f5f5f5;
}

.form_input:focus {
  outline: none;
}

.form_select {
  height: 2rem;
  max-width: 25rem;
}

.form_select:focus {
  outline: none;
}

.form_text {
  resize: none;
  width: 100%;
}

.form_text:focus {
  outline: none;
}

.text_box {
  max-width: 100%;
  margin-top: 3rem;
}

.text {
  margin-bottom: 0.6rem;
  line-height: 1.5;
  width: 100%;
  text-align: justify;
}

.text_small {
  font-size: 1.1rem;
}

.form_option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.vestine {
  width: 100%;
}
.prikljucivanje {
  width: 100%;
}

.heading {
  color: white;
  font-size: 1rem;
  margin-top: 0.7rem;
  letter-spacing: inherit;
}

.margin_right {
  margin-right: 2rem;
}

.btn {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border: none;
  color: #f5f5f5 !important;
  background-color: #006185 !important;
  margin-top: 1rem;
}
.btn:hover {
  background-color: #033041 !important;
}

.btn:focus {
  outline: none;
}

@media screen and (max-width: 990px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .margin_right {
    margin-right: auto;
  }
  .form {
    padding: 5%;
  }
  .form_top {
    display: block;
    width: 100%;
  }
  .form_option {
    display: block;
  }
  .text_box {
    margin: 2% 5%;
  }
}
