.container {
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.concourse {
  margin: 2rem 0;
}

.form {
  background-color: rgba(10, 67, 107, 0.336);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  box-shadow: 1rem 0.5rem 0.5rem rgba(10, 67, 107, 0.171);
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
}

.form_top {
  display: flex;
  width: 100%;
}

.form_box {
  width: 100%;
  padding: 5rem 2rem;
  margin: 0 auto;
  max-width: 55rem;
}

.form_input {
  display: block;
  height: 2rem;
  /* max-width: 20rem !important; */
  width: 100% !important;
  outline: none;
  border: none;
  background-color: #f5f5f5;
}

.form_input:focus {
  outline: none;
}

.form_select {
  height: 2rem;
  max-width: 25rem;
}

.form_select:focus {
  outline: none;
}

.form_text {
  resize: none;
  width: 100%;
}

.form_text:focus {
  outline: none;
}

.text_box {
  max-width: 90%;
  margin-top: 3rem;
}

.text {
  margin-bottom: 0.6rem;
  line-height: 1.5;
  width: 100%;
  text-align: justify;
}

.text_small {
  font-size: 1.1rem;
}

.form_option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.heading {
  font-size: 1rem;
  margin-top: 0.7rem;
}

.margin_right {
  margin-right: 2rem;
}

.btn {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border: none;
  color: #f5f5f5 !important;
  margin-top: 1rem;
}

.btn:focus {
  outline: none;
}

@media screen and (max-width: 990px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
