.container {
  /* whatever height you want */
  height: 70vh;
  position: relative;
}

.img {
  /* in order to set height responsive to the container */
  height: 100%;
}
.prev {
  background: transparent !important;
  background-color: transparent !important;
  border-color: transparent !important;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 0.5rem 0.5rem;
}
.next {
  background: transparent !important;
  background-color: transparent !important;
  border-color: transparent !important;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 0.5rem 0.5rem;
}

.next.focus,
.next:focus,
.prev.focus,
.prev:focus {
  outline: 0;
  box-shadow: none !important;
}

.arrow-left:hover,
.arrow-right:hover {
  color: rgba(255, 255, 255, 0.7);
}

.arrow-left {
  display: none;
  color: white;
}

.arrow-right {
  display: none;
  color: white;
}

.container:hover .arrow-right {
  display: flex;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.container:hover .arrow-left {
  display: flex;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
} */
